<div class="container">
  <div class="card-body min-vh-100">
    <div class="py-2 text-center">
    </div>

    <h2 class="border-bottom pb-2">หน้าว่าง</h2>

    <section class="py-5 text-center container">

      <div class="col-12">
        
      </div>
    </section>
  </div>
</div>