<div class="d-flex h-200 text-center text-bg-dark" 
  style="background-image: url(https://blog.thriver.com/wp-content/uploads/2022/01/blog_office-happy-hour-ideas-scaled.jpg);
    background-repeat: no-repeat;  
    background-size: cover;
    background-position: center;
    height: 80vh;
">
    
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" 
    style="display: flex;
      justify-content: center;
      align-items: center;  
  ">
    <div class="px-3 cover-career">
      <p style="font-size: 60px; text-shadow: rgba(0, 0, 0, 0.5) 2px 2px; ">ร่วมงานกับเรา</ย>
      <p class="lead" style="font-size: 18px; text-shadow: rgba(0, 0, 0, 0.5) 2px 2px;">
        มาเป็นส่วนหนึ่งขององค์กรหลักของประเทศ เป็นกำลังสำคัญในการผลักดันให้เศรษฐกิจ<br>
        เติบโตก้าวหน้าอย่างยั่งยืน และรักษาเสถียรภาพเศรษฐกิจการเงินของประเทศให้มั่นคง
      </p>
      
    </div>
  </div>
</div>

<section class="section">

  <div class="container px-4 py-5 mt-5" id="featured-3">
    <h2 class="pb-2 border-bottom">
      เพราะเราเชื่อว่า “พนักงาน”
      คือสิ่งที่ทำให้องค์กรดีที่สุด</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">ตำแหน่งที่เปิดรับ</h3>
        <p>มองหาคนเก่ง คนดี และเป็นผู้ที่มีอุดมการณ์เพื่อเป็นส่วน สำคัญในการเสริมสร้างความมั่นคงและความเจริญก้าวหน้าทางเศรษฐกิจของประเทศ</p>
        <a href="/career" class="icon-link">
          Call to action
          <svg class="bi"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>

      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">ตำแหน่งที่เปิดรับ</h3>
        <p>มองหาคนเก่ง คนดี และเป็นผู้ที่มีอุดมการณ์เพื่อเป็นส่วน สำคัญในการเสริมสร้างความมั่นคงและความเจริญก้าวหน้าทางเศรษฐกิจของประเทศ</p>
        <a href="/career" class="icon-link">
          Call to action
          <svg class="bi"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
      
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">ผลการสัมภาษณ์</h3>
        <p>ติดตามผลการสัมภาษณ์งาน ประกาศรายชื่อผู้ผ่านการสัมภาษณ์งานภายใน 7 วันหลังนัดสัมภาษณ์ สามารถตรวจสอบรายชื่อได้ที่นี่</p>
        <a href="#" class="icon-link">
          Call to action
          <svg class="bi"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
    </div>
  </div>
</div>

  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">สิทธิประโยชน์และสวัสดิการที่จะได้รับ</h2>

    <div class="row align-items-md-stretch mt-5">
      <div class="col-3">
        <div class="h-50 p-5 bg-body-white border rounded-3">
          <p class="text-center">ประกันชีวิต</p>
        </div>
      </div>

      <div class="col-3">
        <div class="h-50 p-5 bg-body-white border rounded-3 ">
          <p class="text-center">ประกันสังคม</p>
        </div>
      </div>

      <div class="col-3">
        <div class="h-50 p-5 bg-body-white border rounded-3">
          <p class="text-center">กองทุนสำรองเลี้ยงชีพ</p>
        </div>
      </div>

      <div class="col-3">
        <div class="h-50 p-5 bg-body-white border rounded-3">
          <p class="text-center">ประกันสุขภาพ</p>
        </div>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-3">
        <div class="h-50 p-5 bg-body-white border rounded-3">
          <p class="text-center">ประกันอุบัติเหตุ</p>
        </div>
      </div>

      <div class="col-3">
        <div class="h-50 p-5 bg-body-white border rounded-3 ">
          <p class="text-center">วันหยุดพักผ่อนประจำปี</p>
        </div>
      </div>

      <div class="col-3">
        <div class="h-50 p-5 bg-body-white border rounded-3">
          <p class="text-center">ค่าครองชีพ</p>
        </div>
      </div>

      <div class="col-3">
        <div class="h-50 p-5 bg-body-white border rounded-3">
          <p class="text-center">การตรวจสุขภาพประจำปี</p>
        </div>
      </div>
    </div>

  </div>

  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">ร่วมงานกับเรา</h2>
    <div class="list-group mt-5">

      <a href="/career_detail" class="list-group-item list-group-item-action active" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">วิศวะกรเครือข่าย</h5>
          <small>3 days ago</small>
        </div>
        <small class="mb-1">สถาปนิกออกแบบ เขียนแบบโครงสร้าง สถาปัตยกรรม สามารถทำงานต่างจังหวัดได้ สามารถทำงานเสาร์ อาทิตย์ได้</small>
        <br><small>เงินเดือน ตามตกลง</small>
      </a>

      <a href="/career_detail" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">เจ้าหน้าที่สาระสนเทศ (IT)</h5>
          <small class="text-body-secondary">3 days ago</small>
        </div>
        <small class="mb-1">1 เขียนโปรแกรม php 2 support งานคอมพิวเตอร์ทั่วไปตามได้รับมอบหมาย</small>
        <br><small class="text-body-secondary">เงินเดือน ตามตกลง</small>
      </a>

      <a href="/career_detail" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Sale ฝ่ายขาย</h5>
          <br><small class="text-body-secondary">3 days ago</small>
        </div>
        <small class="mb-1">ทำ visit plan พบลูกค้า นำเสนอสินค้าและดูหน้างาน ส่งแบบให้ประเมินราคา ดูพื้นที่ก่อนเข้างาน สรุปreport งานประจำสัปดาห์</small>
        <br><small class="text-body-secondary">เงินเดือน ตามตกลง</small>
      </a>

      <a href="/career_detail" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">เจ้าหน้าที่สาระสนเทศ (IT)</h5>
          <small class="text-body-secondary">3 days ago</small>
        </div>
        <small class="mb-1">1 เขียนโปรแกรม php 2 support งานคอมพิวเตอร์ทั่วไปตามได้รับมอบหมาย</small>
        <br><small class="text-body-secondary">เงินเดือน ตามตกลง</small>
      </a>

      <a href="/career_detail" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Sale ฝ่ายขาย</h5>
          <br><small class="text-body-secondary">3 days ago</small>
        </div>
        <small class="mb-1">ทำ visit plan พบลูกค้า นำเสนอสินค้าและดูหน้างาน ส่งแบบให้ประเมินราคา ดูพื้นที่ก่อนเข้างาน สรุปreport งานประจำสัปดาห์</small>
        <br><small class="text-body-secondary">เงินเดือน ตามตกลง</small>
      </a>

    </div>

    <small class="d-block text-end mt-3">
      <a href="/career">All updates</a>
    </small>

  </div>

  <div class="container px-4 py-5 " id="featured-3">
    <!-- <h2 class="pb-2 border-bottom mb-4">ประกาศ</h2> -->

    <div class="row g-5">
      <div class="col-md-6">
        <div class="p-5 mb-4 bg-light rounded-3 h-100" 
          style="
            background-size: cover;
            background-position: center;
            background-image: url(https://workinjapan.today/wp-content/uploads/2019/12/japanese-business-attire.jpg);
        ">
          
        </div>
      </div>

      <div class="col-md-6 pt-3 ">
        <div class="p-5 mb-4 bg-body-light rounded-3 ">
          <div class="container-fluid py-5">
            <p class="col-md-8 fs-5 cover-career">
              <h4>We care about everyone,</h4> 
              <h4 style="color: #1D78FD;">but employees come first.</h4><br>
              No matter your job title, if you're a member of our team you are our top priority. We care deeply about everyone who works with us.
            </p>
          </div>
        </div>
      </div>

    </div>

    <section class="py-5 text-center container">
      <!-- <h6 class="border-bottom pb-2 mb-0"></h6> -->
      <div class="row py-lg-5">
        <div class="col-12 mx-auto">
          <h2 class="fw-light">ผลการสัมภาษณ์</h2>
          <p class="lead text-body-secondary">ประกาศรายชื่อผู้ผ่านเกณฑ์การสรรหาคัดเลือกเพื่อเป็นพนักงาน</p>
        </div>
        <div class="col-12 mx-auto">
          <table class="table table-borderless mt-3">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    
  </div>
      
</section>
