<section class="section">

  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">ประกาศรับสมัครพนักงาน</h2>

    <div class="row mt-5 justify-content-end">
      <div class="col-3 text-end">
        <select class="form-select w" aria-label="Default select example">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>

    <div class="list-group mt-3">

      <a href="/career_detail" class="list-group-item list-group-item-action active" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">วิศวะกรเครือข่าย</h5>
          <small>3 days ago</small>
        </div>
        <small class="mb-1">สถาปนิกออกแบบ เขียนแบบโครงสร้าง สถาปัตยกรรม สามารถทำงานต่างจังหวัดได้ สามารถทำงานเสาร์ อาทิตย์ได้</small>
        <br><small>เงินเดือน ตามตกลง</small>
      </a>

      <a href="/career_detail" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">เจ้าหน้าที่สาระสนเทศ (IT)</h5>
          <small class="text-body-secondary">3 days ago</small>
        </div>
        <small class="mb-1">1 เขียนโปรแกรม php 2 support งานคอมพิวเตอร์ทั่วไปตามได้รับมอบหมาย</small>
        <br><small class="text-body-secondary">เงินเดือน ตามตกลง</small>
      </a>

      <a href="/career_detail" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Sale ฝ่ายขาย</h5>
          <br><small class="text-body-secondary">3 days ago</small>
        </div>
        <small class="mb-1">ทำ visit plan พบลูกค้า นำเสนอสินค้าและดูหน้างาน ส่งแบบให้ประเมินราคา ดูพื้นที่ก่อนเข้างาน สรุปreport งานประจำสัปดาห์</small>
        <br><small class="text-body-secondary">เงินเดือน ตามตกลง</small>
      </a>

      <a href="career_detail" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">เจ้าหน้าที่สาระสนเทศ (IT)</h5>
          <small class="text-body-secondary">3 days ago</small>
        </div>
        <small class="mb-1">1 เขียนโปรแกรม php 2 support งานคอมพิวเตอร์ทั่วไปตามได้รับมอบหมาย</small>
        <br><small class="text-body-secondary">เงินเดือน ตามตกลง</small>
      </a>

      <a href="#career_detail class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Sale ฝ่ายขาย</h5>
          <br><small class="text-body-secondary">3 days ago</small>
        </div>
        <small class="mb-1">ทำ visit plan พบลูกค้า นำเสนอสินค้าและดูหน้างาน ส่งแบบให้ประเมินราคา ดูพื้นที่ก่อนเข้างาน สรุปreport งานประจำสัปดาห์</small>
        <br><small class="text-body-secondary">เงินเดือน ตามตกลง</small>
      </a>

    </div>
  </div>
      
</section>
