<section class="section">

  <div class="container px-4 py-5" id="featured-3">
   
    <div class="my-3 p-3 pt-4 bg-body rounded shadow-sm ">
      
      <div class="row">
        <div class="col-11">
          <h2 class="pb-2">วิศวกรเครือข่าย</h2>
        </div>
        <div class="col-1">
          <a href="/jobList" class="btn">
            <i class="fa-solid fa-xmark"></i>
          </a>
        </div>
      </div>
      <h2 class="border-bottom pb-2"></h2>
      
      <div class="row mb-5">
        <p class="text-end mt-5 px-5">เงินเดือน 250,000</p>
        <div class="col-12 px-5 mt-5">
          <div class="d-flex text-body-secondary pt-3 mt-5">
            <div class="pb-3 mb-0 small lh-sm w-100">
              <div class="d-flex justify-content-between">
                <strong class="text-gray-dark fs-5">ความชำนาญ</strong>
              </div>
              <span class="">บราบราบราบราบราบราบราบราบราบราบราบราบราบราบราบราบราบราบราบราบราบราบราบราบรา</span>
            </div>
          </div>
        </div>  

        <div class="col-12 px-5">
          <div class="d-flex text-body-secondary pt-3 ">
            <div class="pb-3 mb-0 small lh-sm w-100">
              <div class="d-flex justify-content-between">
                <strong class="text-gray-dark fs-5">การศึกษา</strong>
              </div>
              <span class="">บราบราบราบราบราบราบราบราบราบราบราบราบราบราบราบราบราบราบราบราบราบราบราบราบรา</span>
            </div>
          </div>
        </div>  

        <div class="col-12 px-5">
          <div class="d-flex text-body-secondary pt-3 ">
            <div class="pb-3 mb-0 small lh-sm w-100">
              <div class="d-flex justify-content-between">
                <strong class="text-gray-dark fs-5">ประสบการณ์ทำงาน</strong>
              </div>
              <span class=""> 0 ปี</span>
            </div>
          </div>
        </div>  

      <div class="col-12 px-5">
        <div class="d-flex text-body-secondary pt-3 ">
          <div class="pb-3 mb-0 small lh-sm w-100">
            <div class="d-flex justify-content-between">
              <strong class="text-gray-dark fs-5">รายละเอียดงาน</strong>
            </div>
            <span class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio molestias sit ipsam, quos optio distinctio aliquam deleniti eveniet amet doloribus ab similique debitis placeat perspiciatis delectus culpa voluptates! Nulla atque rem esse nobis minus vel eveniet in itaque reiciendis placeat nemo vitae totam non similique porro minima reprehenderit natus, tempore nisi dolorum cum provident maxime nostrum odit! Commodi voluptate temporibus iusto eveniet ullam corrupti tempore natus ipsam repudiandae hic fugiat sequi maiores cum incidunt quasi minus, distinctio dicta consectetur libero molestiae. Recusandae exercitationem eaque neque qui voluptatum possimus fugiat, modi quo sapiente labore nihil aliquam placeat, velit iusto, quae quis eum minus quia ducimus nesciunt. Aperiam, ex, dolorum corrupti minus quas a, commodi sint fuga incidunt ut harum beatae numquam ipsam facilis optio laborum tempore obcaecati suscipit! Minus, repellendus est nisi cupiditate distinctio voluptate quod delectus dolore obcaecati perspiciatis sed. Nihil ab, quasi, officia voluptas tempore ducimus excepturi explicabo laboriosam vel eaque aliquid sequi recusandae. Quibusdam, pariatur ipsam ad, nobis perferendis voluptate nemo quisquam sunt inventore atque molestiae! Cupiditate ea illo eligendi enim vitae cum atque ipsa, quo illum deleniti a error molestias laboriosam quas, inventore iusto unde eveniet sunt rerum ut! Vel possimus tenetur facere nesciunt, eos molestias nisi autem illum delectus nulla, provident eligendi laborum blanditiis dolores perferendis praesentium, error dolorem voluptatem nemo. Id esse necessitatibus quidem? Repellendus dolorem totam suscipit maxime nulla est modi vero enim sed, voluptatem quaerat minus facere aliquid eius, commodi possimus, molestiae dolorum. Eveniet tempora inventore velit alias dolorem, beatae at incidunt dolore reprehenderit sapiente quos atque suscipit esse quis in officiis, ipsa tenetur veniam eos odio temporibus quas. Corporis, molestiae aperiam doloremque minus labore earum voluptatibus? Quas, doloribus sed? Harum nulla ducimus officia debitis voluptatem, molestiae provident similique quis accusantium hic suscipit iure ipsa est quia corporis unde culpa iste tempora ipsum.</span>
          </div>
        </div>
      </div>  

      <div class="col-12 px-5">
        <div class="d-flex text-body-secondary pt-3 ">
          <div class="pb-3 mb-0 small lh-sm w-100">
            <div class="d-flex justify-content-between">
              <strong class="text-gray-dark fs-5">สวัสดดิการ</strong>
            </div>
            <span class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio molestias sit ipsam, quos optio distinctio aliquam deleniti eveniet amet doloribus ab similique debitis placeat perspiciatis delectus culpa voluptates! Nulla atque rem esse nobis minus vel eveniet in itaque reiciendis placeat nemo vitae totam non similique porro minima reprehenderit natus, tempore nisi dolorum cum provident maxime nostrum odit! Commodi voluptate temporibus iusto eveniet ullam corrupti tempore natus ipsam repudiandae hic fugiat sequi maiores cum incidunt quasi minus, distinctio dicta consectetur libero molestiae. Recusandae exercitationem eaque neque qui voluptatum possimus fugiat, modi quo sapiente labore nihil aliquam placeat, velit iusto, quae quis eum minus quia ducimus nesciunt. Aperiam, ex, dolorum corrupti minus quas a, commodi sint fuga incidunt ut harum beatae numquam ipsam facilis optio laborum tempore obcaecati suscipit! Minus, repellendus est nisi cupiditate distinctio voluptate quod delectus dolore obcaecati perspiciatis sed. Nihil ab, quasi, officia voluptas tempore ducimus excepturi explicabo laboriosam vel eaque aliquid sequi recusandae. Quibusdam, pariatur ipsam ad, nobis perferendis voluptate nemo quisquam sunt inventore atque molestiae! Cupiditate ea illo eligendi enim vitae cum atque ipsa, quo illum deleniti a error molestias laboriosam quas, inventore iusto unde eveniet sunt rerum ut! Vel possimus tenetur facere nesciunt, eos molestias nisi autem illum delectus nulla, provident eligendi laborum blanditiis dolores perferendis praesentium, error dolorem voluptatem nemo. Id esse necessitatibus quidem? Repellendus dolorem totam suscipit maxime nulla est modi vero enim sed, voluptatem quaerat minus facere aliquid eius, commodi possimus, molestiae dolorum. Eveniet tempora inventore velit alias dolorem, beatae at incidunt dolore reprehenderit sapiente quos atque suscipit esse quis in officiis, ipsa tenetur veniam eos odio temporibus quas. Corporis, molestiae aperiam doloremque minus labore earum voluptatibus? Quas, doloribus sed? Harum nulla ducimus officia debitis voluptatem, molestiae provident similique quis accusantium hic suscipit iure ipsa est quia corporis unde culpa iste tempora ipsum.</span>
          </div>
        </div>
      </div>

      <div class="col-12 px-5 mt-5 text-end">
        <a href="/application " class="btn btn-primary" type="button">สมัครงาน</a>
      </div>

      

  </div>
      
</section>
