<div>
  <form method="post" action="/pages/page-login">
    <div class="card">
      <div class="card-body">
        <div class="login_label" style="text-align: center">
          <span class="material-symbols-outlined"> account_circle </span
          >ล็อคอินเข้าสู่ระบบ
        </div>
        <div>
          <label>Username</label>
          <div>
            <input type="text" class="form-control" name="username" />
          </div>
        </div>
        <div class="mt-2">
          <label>Password</label>
          <div>
            <input type="password" class="form-control" name="password" />
          </div>
        </div>
        <div class="mt-2" style="text-align: center">
          <button type="submit" class="login-st NTN btn-primary">
            <span class="meterials-icon material-symbols-outlined"> Login </span
            >Login
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
