<div class="container">
  <section
    class="section Interview min-vh-100 d-flex flex-column align-items-top justify-content-top py-4"
  >
    <div class="container">
      <div class="card mb-3">
        <div class="card-body">
          <form action="/pages-interview" method="post">
          <div
            class="mt-4 m-5"
            style="background-color: silver; border-radius: 25px"
          >
          <div class="m-4">
            <h5 class="card-title text-left pb-0 fs-4 ">
              ข้อมูลสัมภาษณ์งาน
            </h5>
           
              <div class="mt-4 pt-4">
                <span class="text-left mt-4 pt-4">วัน/เวลา</span>
                <span class="m-4">
                  <input
                    type="datetime-local"
                    id="meeting-time"
                    name="meeting-time"
                  />
                  <div class="mt-4" style="margin-left: 82px">
                    <input
                      type="datetime-local"
                      id="meeting-time"
                      name="meeting-time"
                    />
                  </div>
                  <div class="mt-3 text-muted pb-2 " style="margin-left: 82px ">
                    ระบุวันที่ต้องการสร้างนัด 2
                    วันเพื่อให้ผู้รับสัมภาษณ๋เลือกวันที่สะดวก
                  </div></span
                >

              <div class="mt-4">
                <span>
                <label>ผู้สัมภาษณ์คนที่ : 1</label>
                <select name="inter-1" id="inter-1">
                 <option value="">akdjfakjfka</option>
                 <option value="">akdjffdgfdgakjfka</option>
                 <option value="">akdjfdfsdfakjfka</option>
                </select>
              </span>
              <span >
                <input type="text" value="hjfkhasklfhkas" readonly>
              </span>
              </div>
              <div class="mt-2">
                <span>
                <label>ผู้สัมภาษณ์คนที่ : 2</label>
                <select name="inter-2" id="inter-2">
                 <option value="">akdjfakjfka</option>
                 <option value="">akdjffdgfdgakjfka</option>
                 <option value="">akdjfdfsdfakjfka</option>
                </select>
              </span>
              <span >
                <input type="text"  value="hjfkhasklfhkas" readonly>
              </span>
              </div>
              <div class="mt-2 pb-2">
                <span>
                <label>ผู้สัมภาษณ์คนที่ : 3</label>
                <select name="inter-3" id="inter-3">
                 <option value="">akdjfakjfka</option>
                 <option value="">akdjffdgfdgakjfka</option>
                 <option value="">akdjfdfsdfakjfka</option>
                </select>
              </span>
              <span >
                <input type="text" value="hjfkhasklfhkas" readonly>
              </span>
              </div>
              </div>
              </div>
              </div>
              <div class="m-5"  style="background-color: silver; border-radius: 25px">
                <div class="pt-4"  style="margin-left: 23px;">
                <h5 >รายละเอียดเพิ่มเติม</h5>
              </div>
              <div class=" m-4 pb-4" style=" display: inline-flex; ">
                <span style="margin-right: 10px;">รายละเอียด</span>
                <span>
                <textarea name="inter-detail" rows="4" cols="50" aria-valuetext=""></textarea>
              </span>
              </div>
             
          </div>
          <div class="mt-2 " style="text-align: right; margin-right: 50px;">
            <button type="submit" class="login-st NTN btn-primary">
              <span class="material-symbols-outlined">
                done
                </span>
                แจ้งนัดสัมภาษณ์งาน
            </button>
          </div>
        </div>
      </form>
      </div>
    </div>
  </section>
</div>
