
    <div class="pagetitle">
      <h1>Dashboard</h1> <?# title ?>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li> <?# title ?>
          <li class="breadcrumb-item active">Dashboard</li> <?# title ?>
        </ol>
      </nav>
    </div><!-- End Page Title -->