<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="/">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-heading">ประกาศรับสมัครงาน</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="createJobDescription">
        <span>สร้างประกาศ</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="career_request">
        <span>คำร้องขอกำลังคน</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="/career">
        <span>ตำแหน่งที่สเปิดสมัคร</span>
      </a>
    </li>
    <!-- End applications -->

    <li class="nav-heading">นัดสัมภาษณ์</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="applicant-profile">
        <span>ประวัติผู้สมัคร</span>
      </a>
    </li><li class="nav-item">
      <a class="nav-link collapsed" href="applicant-interviewList">
        <span>ตรวจสอบนัดสัมภาษณ์</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="applicant-interviewResult">
        <span>ผลการสัมภาษณ์</span>
      </a>
    </li>
    <!-- End Interview -->

    <li class="nav-heading">การจัดการ</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="register">
        <span>สร้างบัญชีผู้ใช้</span>
      </a>
      <a class="nav-link collapsed" href="mange_permission">
        <span>การกำหนดสิทธิ์การใช้งาน</span>
      </a>
      <a class="nav-link collapsed" href="mange_employee">
        <span>จัดการบัญชีผู้ใช้</span>
      </a>
      <a class="nav-link collapsed" href="manage-data">
        <span>การจัดการข้อมูล</span>
      </a>
    </li>
    <!-- End Management -->

    <li class="nav-heading">รายงาน</li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="report-applicant">
        <span>รายงานผู้สมัครงาน</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="report-employee">
        <span>รายงานพนักงาน</span>
      </a>
    </li>
    <!-- End Report -->

  </ul>

</aside><!-- End Sidebar-->