<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link collapsed" href="career">
        <span>ตำแหน่งที่สเปิดสมัคร</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="/">
        <span>ผลการสัมภาษณ์</span>
      </a>
    </li>

  </ul>

</aside><!-- End Sidebar-->