<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <!-- <li class="nav-item">
      <a class="nav-link" href="/">
        <i class="bi bi-grid"></i>
        <span>หน้าหลัก</span>
      </a>
    </li> -->
    
    <li class="nav-heading">ประกาศรับสมัครงาน</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="createJobDescription">
        <i class="bi bi-person"></i>
        <span>สร้างประกาศ</span>
      </a>
    </li>
    <!-- End Profile Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="jobList">
        <i class="bi bi-question-circle"></i>
        <span>ตรวจสอบประกาศ</span>
      </a>
    </li>
    <!-- End F.A.Q Page Nav -->

    <li class="nav-heading">นัดสัมภาษณ์</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="profile">
        <i class="bi bi-person"></i>
        <span>ประวัติผู้สมัคร</span>
      </a>
    </li>
    <!-- End Profile Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="faq">
        <i class="bi bi-question-circle"></i>
        <span>ตรวจสอบนัดสัมภาษณ์</span>
      </a>
    </li>
    <!-- End F.A.Q Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="contact">
        <i class="bi bi-envelope"></i>
        <span>ผลการสัมภาษณ์</span>
      </a>
    </li>
    <!-- End Contact Page Nav -->
    <li class="nav-heading">การจัดการ</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="register">
        <i class="bi bi-card-list"></i>
        <span>สร้างบัญชีผู้ใช้</span>
      </a>
      <a class="nav-link collapsed" href="register">
        <i class="bi bi-card-list"></i>
        <span>การกำหนดสิทธิ์การใช้งาน</span>
      </a>
      <a class="nav-link collapsed" href="register">
        <i class="bi bi-card-list"></i>
        <span>การจัดการข้อมูล</span>
      </a>
    </li>
    <!-- End Register Page Nav -->

    <li class="nav-heading">รายงาน</li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="login">
        <i class="bi bi-box-arrow-in-right"></i>
        <span>รายงานต่างๆ</span>
      </a>
    </li>
    <!-- End Login Page Nav -->

    <li class="nav-heading">เข้าสู่ระบบ</li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="login">
        <i class="bi bi-box-arrow-in-right"></i>
        <span>เข้าสู่ระบบด้วยบัญชีผู้ใช้งาน</span>
      </a>
    </li>
    <!-- End Login Page Nav -->

    <li class="nav-heading">สมัครงาน</li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="career">
        <i class="bi bi-file-earmark"></i>
        <span>ตำแหน่งที่สเปิดสมัคร</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="/">
        <i class="bi bi-file-earmark"></i>
        <span>ผลการสัมภาษณ์</span>
      </a>
    </li>
  </ul>
</aside>
<!-- End Sidebar
